<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order), class:"btn btn-secondary" %> 
  <br>  <br>
  <%= link_to "Back to orders", orders_path, class:"btn btn-secondary" %>
  <br>
  <br>

  <%= button_to "Destroy this order", @order, method: :delete, class:"btn btn-secondary" %>
</div>
