<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product), class:"btn btn-secondary" %> 
  <br>   <br>
  <%= link_to "Back to products", products_path, class:"btn btn-secondary" %>
<br>
<br>


  <%= button_to "Destroy this product", @product, method: :delete, class:"btn btn-secondary" %>
</div>
